In [6]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
pop_df = pd.read_csv('WPP2019_PopulationByAgeSex_medium.csv')
print(pop_df.shape)
pop_df.head()

(1404753, 12)

,LocID,Location,VarID,Variant,Time,MidPeriod,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,4,Afghanistan,2,Medium,1950,1950.5,0-4,0,5,630.044,661.578,1291.622
1,4,Afghanistan,2,Medium,1950,1950.5,5-9,5,5,516.206,487.335,1003.541
2,4,Afghanistan,2,Medium,1950,1950.5,10-14,10,5,461.378,423.326,884.704
3,4,Afghanistan,2,Medium,1950,1950.5,15-19,15,5,414.369,369.363,783.732
4,4,Afghanistan,2,Medium,1950,1950.5,20-24,20,5,374.109,318.392,692.501

In [5]:
for Pop in pop_df["PopMale"]:
    pop_df["PopMale"].replace({Pop: 1}, inplace=True)

pop_df.head()

   Unnamed: 0     Location  Time AgeGrp  AgeGrpStart  PopMale  PopFemale
0           0  Afghanistan  1950    0-4            0      1.0    661.578
1           1  Afghanistan  1950    5-9            5      1.0    487.335
2           2  Afghanistan  1950  10-14           10      1.0    423.326
3           3  Afghanistan  1950  15-19           15      1.0    369.363
4           4  Afghanistan  1950  20-24           20      1.0    318.392

In [ ]:
def plot_population_pyramid(country, year):
    pop_df_tmp = pop_df[(pop_df['Location']==country) & (pop_df['Time']==year)]
    pop_df_tmp = pop_df_tmp.sort_values('AgeGrpStart', ascending = True)

    y = range(0, len(pop_df_tmp))
    x_male = pop_df_tmp['PopMale']
    x_female = pop_df_tmp['PopFemale']

    max_x_scale = max(max(x_female), max(x_male))

    fig, axes = plt.subplots(ncols=2, sharey=True, figsize=(10, 8))

    fig.patch.set_facecolor('xkcd:White')
    plt.figtext(.5,.9,country + ": " +  str(year), fontsize=15, ha='center')

    axes[0].barh(y, x_male, align='center', color='lightblue')
    axes[0].set(title='Males')
    axes[0].set(xlim=[0,max_x_scale])
    axes[1].barh(y, x_female, align='center', color='pink')
    axes[1].set(title='Females')
    axes[1].set(xlim=[0,max_x_scale])
    axes[1].grid()
    axes[0].set(yticks=y, yticklabels=pop_df_tmp['AgeGrp'])
    axes[0].invert_xaxis()
    axes[0].grid()

    plt.show()
plot_population_pyramid("Switzerland", 1950)

      Location  Time AgeGrp  AgeGrpStart  PopMale  PopFemale
0  Afghanistan  1950    0-4            0  630.044    661.578
1  Afghanistan  1950    5-9            5  516.206    487.335
2  Afghanistan  1950  10-14           10  461.378    423.326
3  Afghanistan  1950  15-19           15  414.369    369.363
4  Afghanistan  1950  20-24           20  374.109    318.392